<header>
   <div class="container">
      <div class="container-header">
         <div class="left">
            <div class="logo">
               <img src="https://imgs.search.brave.com/pt6diVgy5IkXKUR0PvwXiJNaovCfVKZQm9nwqDL2W4g/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZy/ZWVwaWsuY29tLzI1/Ni84MzA3LzgzMDc3/MjkucG5nP3NlbXQ9/YWlzX2h5YnJpZA" alt="Logo">
            </div>
         </div>
         <nav>
            <a href="/addMovie">Add Movie</a>
            <a href="/">Show Movie</a>
         </nav>
      </div>
   </div>
</header>